@font-face {
    font-family: 'Moranga';
	src:url('fonts/Latinotype\ -\ Moranga\ Regular.otf');
	font-weight: normal;
}

@font-face {
    font-family: 'Moranga Medium';
	src:url('fonts/Latinotype\ -\ Moranga\ Medium.otf');
	font-weight: normal;
}

@font-face {
    font-family: 'Moranga Bold';
	src:url('fonts/Latinotype\ -\ Moranga\ Bold.otf');
	font-weight: normal;
}

#featured-section {
    background-color: white;
}

#benefits-container {
    background-color: white;
}

#price-container {
    background-image: url(images/wine-stains.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.svg-curve {
    position: absolute;
    left: 0;
    bottom: 0;
}

.bgcolor{
    background-color: #472e45 !important;
}

h1 {
    font-family: 'Moranga Medium';
    color: #231422;
    font-size: 48px !important;
}

h2, h3, h4 {
    font-family: 'Moranga Medium';
    line-height: 1.2;
    color: #eda79f;
}

.card-title {
    color: #231422;
}

#primary-menu ul li > a {
    color: #4C2A45;
}

#primary-menu ul li:hover > a, #primary-menu ul li.current > a {
    color: #eda79f;
}

.before-heading {
    background-color: #e0d6de;
    border-radius: 5px;
}

.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4, .emphasis-title h1, .emphasis-title h2 {
    color: #472e45;
}

.demos-filter {
    margin: 0;
    text-align: right;
}

.demos-filter li {
    list-style: none;
    margin: 10px 0px;
}

.demos-filter li a {
    display: block;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
}

a {
    color: #eda79f;
}

.owl-carousel .owl-dots .owl-dot {
    background-color: #eda79f;
}

.demos-filter li a:hover,
.demos-filter li.activeFilter a { color: #eda79f; }


/*
#rev_slider_52_1_wrapper .tp-loader.spinner3 { background-color: #FFFFFF !important; }
*/

.blurslider-gradient {
    background:-webkit-linear-gradient(left,#ffffff 0%,#eda79f 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.tp-opacity { opacity:0.85; }

#header.sticky-header #header-wrap
{
    background-color: #FFF;
}

.card-img-overlay:before {
    background-color: transparent;
}

#copyrights {
    background-color: #231422;
}

.footer-img-div {
    background-image: url("images/footer-bg.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

@media (max-width: 991px) {
    .demos-filter { text-align: center; }

    .demos-filter li {
        float: left;
        width: 33.3%;
        padding: 0 20px;
    }
}

@media (max-width: 767px) { .demos-filter li { width: 50%; } }

@media (max-width: 400px) { 
    #slide-126-layer-2 {
        font-size: 32pt !important;
    }

    #slide-126-layer-1 {
        width: 300px;
    }

    #price-container {
        background-image: none;
    }

    .footer-img-div {
        background-image: none !important;
    }

    .slider-img{
        display: none;
    }

    .hero-features {
        transform: translateY(-50%);
        padding: 40px 30px;
        max-width: 100%;
        margin-left: auto;
        border-radius: 0;
        border: none;
    }

    #logo-footer {
        border: none !important;
        float: none !important;
    }

    #header.transparent-header, #header.semi-transparent {
    background: #FFF;
    border-bottom: 1px solid #231422;
    z-index: auto;
    }

    .icon-reorder {
        color: #231422;
    }
}

#page-title {
    position: relative;
    padding: 24px 0;
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
    font-size: 1em;
}