@font-face {
    font-family: 'Moranga';
	src:url('fonts/Latinotype\ -\ Moranga\ Regular.otf');
	font-weight: normal;
}

@font-face {
    font-family: 'Moranga Medium';
	src:url('fonts/Latinotype\ -\ Moranga\ Medium.otf');
	font-weight: 500;
}

@font-face {
    font-family: 'Moranga Bold';
	src:url('fonts/Latinotype\ -\ Moranga\ Bold.otf');
	font-weight: bold;
}

@font-face {
    font-family: 'Recoleta Medium';
	src:url('fonts/Recoleta-Medium.ttf');
	font-weight: 400;
}

@font-face {
    font-family: 'Recoleta SemiBold';
	src:url('fonts/Recoleta-SemiBold.ttf');
	font-weight: 500;
}

@font-face {
    font-family: 'Recoleta Bold';
	src:url('fonts/Recoleta-Bold.ttf');
	font-weight: bold;
}

@font-face {
    font-family: 'Recoleta Black';
	src:url('fonts/Recoleta-Black.ttf');
	font-weight: bolder;
}

.section {
    background-color: #fff;
}

.bg-theme-lighter {
    background-color: #FFF5F4;
}

.bg-theme-light{
    background-color: #FFFBEA;
}

.bg-theme-accent{
    background-color: #7EC99D;
}

.button {
    background-color: #73336E;
}

.button-rounded {
    border-radius: 100px !important;
}

#featured-section {
    background-image: url(images/benefits-bg-img-1.png), url(images/benefits-bg-img-2.png);
    background-position: right top, left bottom;
    background-repeat: no-repeat;
}

#featured-section h2 {
    color: #FFF;
    letter-spacing: 1px;
}

#featured-section p {
    color: #FFF;
    font-weight: 600;
    line-height: normal;
}

#members-gallery {
    background-image: url(images/gallery-bg-img-1.png), url(images/gallery-bg-img-2.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
}

#members-gallery h2 {
    color: #FFF;
    letter-spacing: 1px;
}

#members-gallery p {
    color: #FFF;
    font-weight: 600;
    line-height: normal;
}

#slider-container {
    padding: 0;
}

.card-text {
    color: black !important;
    font-weight: 400 !important;
    font-size: 1em !important;
}

.card h4 {
    color: #472e45;
}

.pricing-button{ 
    display:none;
}

.pricing-card:hover .pricing-button {
    display: block;
}

/*
.pricing-card:hover .card {
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.20);
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}
*/

.pricing-card: .card {
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.20);
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}


.pricing h4 {
    font-family: 'Avenir', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1em;
}

.button-fullwidth {
    width: 100%;
}

/*.pricing-card {
    transition: all .2s ease-in-out;
}
.pricing-card :hover{
    transform: scale(1.02);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.20);
}*/

#benefits-container {
    background-color: white;
}

#price-container {
    background-image: url(images/price-bg-img-1.png), url(images/price-bg-img-2.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
}

#price-container h2 {
    margin: 30px 0 10px 0;
}

.pricing-card h2 {
    margin: 30px 0 10px 0;
    letter-spacing: 1px;
}

.price-currency {
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 36px;
}

.svg-curve {
    position: absolute;
    left: 0;
    bottom: 0;
}

.bgcolor{
    background-color: #472e45 !important;
}

h1 {
    font-family: 'Recoleta Bold';
    color: #4C2A45;
    font-size: 60px;
}

h2, h3, h4 {
    font-family: 'Recoleta Medium';
    line-height: 1.2;
    color: #4C2A45;
}

.card-title {
    color: #4C2A45;
}

#primary-menu ul li > a {
    color: #4C2A45;
}

#primary-menu ul li:hover > a, #primary-menu ul li.current > a {
    color: #eda79f;
}

.before-heading {
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    text-transform: uppercase;
}

.before-dark {
    background-color:#FFF5F4;
    border-radius: 20px;
    text-transform: uppercase;
}

.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4, .emphasis-title h1, .emphasis-title h2 {
    color: #472e45;
}

.section {
    margin: 30px 0;
}

.section-price {
    margin: 0 0;
}

.testi-content p {
    line-height: 1.5;
    font-size: 15px;
    color:#444;
    font-style: normal;
}

.demos-filter {
    margin: 0;
    text-align: right;
}

.demos-filter li {
    list-style: none;
    margin: 10px 0px;
}

.demos-filter li a {
    display: block;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
}

.feature-box p {
    margin: 8px 0 0 0;
    color: #333333;
}

a {
    color: #eda79f;
}

.owl-carousel .owl-dots .owl-dot {
    background-color: #eda79f;
}

.slider-title p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #333;
}

.demos-filter li a:hover,
.demos-filter li.activeFilter a { color: #eda79f; }


/*
#rev_slider_52_1_wrapper .tp-loader.spinner3 { background-color: #FFFFFF !important; }
*/

.blurslider-gradient {
    background:-webkit-linear-gradient(left,#ffffff 0%,#eda79f 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.tp-opacity { opacity:0.85; }

#header.sticky-header #header-wrap
{
    background-color: #FFF;
}

.card-img-overlay:before {
    background-color: transparent;
}

#copyrights {
    background-color: #231422;
}

@media (max-width: 991px) {
    .demos-filter { text-align: center; }

    .demos-filter li {
        float: left;
        width: 33.3%;
        padding: 0 20px;
    }
}

@media (max-width: 767px) { 
    .demos-filter li { 
        width: 50%; 
    }
}

@media (min-width: 992px) {
    .slider-title h1 {
        font-size: 64px;
        line-height: 1.1;
        font-weight: 700;
    }

/*    #suscription-img-1, #suscription-img-2, #suscription-img-3 {
        display: none;
    }     */
}

@media (max-width: 400px) { 
    #slide-126-layer-2 {
        font-size: 32pt !important;
    }

    #slide-126-layer-1 {
        width: 300px;
    }

    #price-container {
        background-image: none;
    }

    #contact {
        margin-bottom: 120px !important;
    }

    #footer-img {
        display: none !important;
    }

    .slider-img{
        display: none;
    }

    .hero-features {
        transform: translateY(-50%);
        padding: 40px 30px;
        max-width: 100%;
        margin-left: auto;
        border-radius: 0;
        border: none;
    }

    #logo-footer {
        border: none !important;
        float: none !important;
    }

    #header.transparent-header, #header.semi-transparent {
    background: #FFF;
    border-bottom: 1px solid #231422;
    z-index: auto;
    }

    .icon-reorder {
        color: #231422;
    }

    h1{
        margin-top: 240px;
        font-size: 40px;
        line-height: 48px;
    }

    #primary-menu {
        background-color: #fff;
    }
}

#page-title {
    position: relative;
    padding: 24px 0;
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
    font-size: 1em;
}

.text-title h3 {
    display: inline;
    margin-bottom: 0;
    padding: 0 20px;
    background-color: #FFFBEA;

/* Suscription-pages*/

.promo-section::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 45%;
    width: 80%;
    height: 451px;
    background-size: 1280px 451px;
    background-repeat: no-repeat;
    background-image: url(images/hero-3.svg);
}

